certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
easydict==1.7
fonttools==4.49.0
grpcio==1.62.1
idna==3.6
importlib_metadata==7.0.2
importlib_resources==6.3.0
kiwisolver==1.4.5
lmdb==0.94
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.8.3
numpy==1.26.4
opencv-contrib-python==3.4.11.45
packaging==24.0
pillow==10.2.0
plyfile==0.6
protobuf==3.19.6
pycparser==2.21
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.31.0
scipy==1.12.0
six==1.16.0
tensorboard==1.11.0
tensorboardX==1.4
torch==1.13.1+cu117
torchaudio==0.13.1+rocm5.2
torchvision==0.14.1+cu117
transforms3d==0.3.1
typing_extensions==4.10.0
urllib3==2.2.1
Werkzeug==3.0.1
zipp==3.18.0
